.col-sm-10.col-sm-offset-1
  %header
    %h2 Add New Destination
  = bootstrap_form_for @destination, control_col: 'col-sm-6' do |f|
    - submit_text = @destination.new_record? ? "Add" : "Update"
    %fieldset
      = f.text_field :category
      = f.fields_for :place, @place do |place_form|
        = place_form.text_field :name
        = place_form.text_field :country
      = f.check_box  :visited
    %fieldset.actions.control-group
      .controls
        = f.submit submit_text
