!!! 5
%html(lang="en-US")
  %head
    %title WantToGoThere - wishlist your travel destinations!
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    .container
      %header
        = render 'shared/header'
      %section.content.clearfix
        = render 'shared/messages'
        = yield
      %footer
        %p.text-muted &copy 2015 WTGT

